/dts-v1/;

#include "kirkwood.dtsi"      
#include "kirkwood-6281.dtsi" 

/ {
	model = "Iomega ix4-2OOd";
	compatible = "marvell,rd88f6281-a", "marvell,rd88f6281","marvell,kirkwood-88f6281", "marvell,kirkwood";

memory {                                    
        device_type = "memory";             
        reg = <0x00000000 0x20000000>;      
};                                          
                                            
chosen {                                    
        bootargs = "console=ttyS0,115200n8 earlyprintk";
        stdout-path = &uart0;               
};                                          
                                            
mbus {                                      
        pcie-controller {                   
                status = "okay";            
                                            
                pcie@1,0 {                  
                        status = "okay";    
                };                          
        };                                  
};

ocp@f1000000 {

        serial@12000 {                               
                status = "ok";                       
        };                                           
                                                     
        sata@80000 {                                 
                status = "okay";                     
                nr-ports = <2>;                      
        };                                           
                                                     
};

};

&nand {                                    
        status = "okay";                   
                                           
        partition@0 {                      
                label = "u-boot";          
                reg = <0x0000000 0x100000>;
                read-only;                 
        };                                 
                                           
        partition@100000 {                 
                label = "uImage";          
                reg = <0x0100000 0x200000>;
        };                                 
                                           
        partition@300000 {                 
                label = "rootfs";          
                reg = <0x0300000 0x500000>;
        };                                 
};                                         
                                           
&mdio {
	status = "okay";

	ethphy0: ethernet-phy@8 {
		device_type = "ethernet-phy";
		reg = <8>;
	};

	ethphy1: ethernet-phy@9 {
		device_type = "ethernet-phy";
		reg = <9>;
	};
};

&eth0 {
	status = "okay";
	ethernet0-port@0 {
		phy-handle = <&ethphy0>;
	};
};

&eth1 {
	status = "okay";
	ethernet1-port@0 {
		phy-handle = <&ethphy1>;
	};
};
